<section class="queue">
    <section class="queue__header">
        <h3 class="queue__title">Queue</h3>
        <p class="queue__description">Choose an action</p>
    </section>
    <section class="queue__container">
        <div class="queue__item">
            <img src="../images/balcony.png" alt="balcony">
        </div>
    </section>
    <section class="queue__actions">
        <div class="form-group">
            <div class="radio">
                <input type="radio" name="queueInputEl" id="drunkMan" value="drunk-man" checked>
                <label for="drunkMan">Drunk Man</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="gloriousMan" value="glorious-man">
                <label for="gloriousMan">Glorious Man</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="runningBoy" value="running-boy">
                <label for="runningBoy">Running Boy</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="runningWoman" value="running-woman">
                <label for="runningWoman">Running Woman</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="waitingMan" value="waiting-man">
                <label for="waitingMan">Waiting Man</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="anotherWaitingMan" value="waiting-man-2">
                <label for="anotherWaitingMan">Another Waiting Man</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="waitingWoman" value="waiting-woman">
                <label for="waitingWoman">Waiting Woman</label>
            </div>

            <div class="radio">
                <input type="radio" name="queueInputEl" id="anotherWaitingWoman" value="waiting-woman-2">
                <label for="anotherWaitingWoman">Another Waiting Woman</label>
            </div>
        </div>
        <div class="queue__cta">
            <button id="enqueueQueueButton" class="btn btn-default">Enqueue</button>
            <button id="dequeueQueueButton" class="btn btn-default">Dequeue</button>
            <button id="lookupQueueButton" class="btn btn-default">Lookup</button>
            <button id="peekQueueButton" class="btn btn-default">Peek</button>
        </div>
    </section>
</section>
