<section class="binary-tree">
    <h3 class="binary-tree__title">Binary Tree</h3>
    <p class="binary-tree__description">Choose an action</p>

    <div class="binary-tree__container"></div>
    <div class="binary-tree__actions">
        <input type="text" id="inputBinaryTree">
        <button id="insertBinaryTreeButton" class="btn btn-default">Insert</button>
        <button id="deleteBinaryTreeButton" class="btn btn-default">Delete</button>
        <button id="lookupBinaryTreeButton" class="btn btn-default">Lookup</button>
    </div>
    <div class="binary-tree__traverse-actions">
        <button id="bfsBinaryTreeButton" class="btn btn-primary">Breadth First Search (BFS)</button>
        <button id="dfsInOrderBinaryTreeButton" class="btn btn-primary">Depth First Search InOrder (DFS)</button>
        <button id="dfsPreOrderBinaryTreeButton" class="btn btn-primary">Depth First Search PreOrder (DFS)</button>
        <button id="dfsPostOrderBinaryTreeButton" class="btn btn-primary">Depth First Search PostOrder (DFS)</button>
    </div>
</section>
