<section class="stack">
    <section class="stack__header">
        <h3 class="stack__title">Stack</h3>
        <p class="stack__description">Choose an action</p>
    </section>
    <section class="stack__container">
        <div class="stack__box"></div>
        <div class="stack__actions">
            <input type="text" id="stackValueInput" placeholder="Type the value and choose an action below">
            <div class="stack__cta">
                <button id="pushStackButton" class="btn btn-default">Push</button>
                <button id="popStackButton" class="btn btn-default">Pop</button>
                <button id="lookupStackButton" class="btn btn-default">Lookup</button>
                <button id="peekStackButton" class="btn btn-default">Peek</button>
            </div>
        </div>
    </section>
</section>
