<section class="linked-list">
    <section class="linked-list__header">
        <h3 class="linked-list__title">Linked List</h3>
        <p class="linked-list__description">Choose an action</p>
    </section>
    <section class="linked-list__container"></section>
    
    <div class="linked-list__cta">
        <input type="number" id="linkedListIndexInput" placeholder="Index">
        <input type="number" id="linkedListValueInput" placeholder="Value">
        <button id="prependLinkedListButton" class="btn btn-default">Prepend</button>
        <button id="appendLinkedListButton" class="btn btn-default">Append</button>
        <button id="insertLinkedListButton" class="btn btn-default">Insert</button>
        <button id="deleteLinkedListButton" class="btn btn-error">Delete</button>
    </div>
</section>
