:root {
    --background-color: #222225;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #4f4f4f;
    --primary-color: #4AF626;
    --primary-color-rgb: 74, 246, 38;
    --error-color: #ff3c74;
    
    --spacing-3xs: .5rem;
    --spacing-xxs: 1rem;
    --spacing-xs: 2rem;
    --spacing-s: 3rem;
    --spacing-m: 5rem;
    --spacing-l: 8rem;
    --spacing-xl: 10rem;
    --spacing-xxl: 12rem;
    --spacing-3xl: 16rem;
}

input {
    &::placeholder {
        font-size: .7rem;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;

    .radio {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 1rem;
        padding: var(--spacing-3xs) var(--spacing-xxs) var(--spacing-3xs) var(--spacing-3xs);
        margin: calc(var(--spacing-3xs) / 2);

        &:has(input[type=radio]:checked) {
            background-color: rgba(var(--primary-color-rgb), .5);
        }
    }
}

.data-structures-playground {
    &__header {
        padding: var(--spacing-xs) 0 0 0;
    }

    &__main {
        &--hidden {
            display: none;
        }
    }

    &__footer {
        padding: var(--spacing-s) 0;
        text-align: center;
    }
}

@import './modules/linear-data-structures/components/array/array.component.scss';
@import './modules/linear-data-structures/components/linked-list/linked-list.component.scss';
@import './modules/linear-data-structures/components/queue/queue.component.scss';
@import './modules/linear-data-structures/components/stack/stack.component.scss';

@import './modules/non-linear-data-structures/components/binary-tree/binary-tree.component.scss';
  